:root {
    /* Color variables */
    --color-text: #333333;
    --color-accent: darkred;
    --color-accent-light: #fdf7f7;
    --color-background: white;
    --color-text-muted: gray;
    
    /* Font variables */
    --font-primary: Avenir, sans-serif;
    
    /* Spacing variables */
    --spacing-standard: 20px;
    --spacing-large: 40px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    padding: 5vh 10vh 5vh 10vh;
    text-align: left;
    font-size: 24px;
    color: var(--color-text);
    background-color: var(--color-background);
}

header {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 4vh;
    text-align: left;
    font-size: 2em;
    font-weight: semi-bold;
}

header .highlight {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-accent);
}

footer {
    margin-bottom: 60vh;
    padding-top: 40px;
    text-align: center;
    font-size: 0.7em;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px dotted blue;
}

#content {
    width: 60%;
    padding-top: 4vh;
    padding-right: 5%;
    border: 1px dotted red;
}

section {
    padding: 20px;
    margin-top: 10vh;
    border: none;
    border-radius: 10px;
}

section p {
    font-size: 0.9em;
    line-height: 1.6;
    text-align: justify;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 0px;

}

.active-section h2 {
    color: var(--color-accent);
    font-size: 2em;
}

/* Menu */

#menu {
    border: 1px dotted orange;
    width: 30%;
    flex: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 40px;
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: auto;
    z-index: 100;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 20px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 2em;
}

#menu-prev {
    margin-bottom: 10vh;
    color: var(--color-text);
}

#menu-prev ul a {
    text-decoration: none;
    color: var(--color-text-muted);
}

#menu-next ul li a {
    color: var(--color-accent);
}

/* Cursor */

#type {
    color: var(--color-accent);
    font-weight: bold;
}

#cursor {
    font-size: 1.5em;
    color: var(--color-accent);
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--color-text);
    }
}