body {
    font-family: Avenir, sans-serif;
    padding: 5vh 10vh 5vh 10vh;
    text-align: center; 
    font-size: 32px;
}

header, footer {
    background-color: #fdf7f7;
    padding: 10vh 10vh 5vh 10vh;
    text-align: left;
    font-size: 24px;
    font-weight: semi-bold;
}

#content {
    padding-top: 10vh;
}

#type {
    color: darkred;
    font-weight: bold;
}

#cursor {
    font-size: 1.5em;
    color: darkred;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
